<%- include('layouts/header.ejs') %>
<div class="header">
    <img src="img/logo.svg" alt="Love The Loot Finance Tracker">
</div>
<div class="top-stats">
    <p class="month-header">August 2021 <img src="img/r-arrow-slate.svg"></p>
    <div class="spending">
        <div class="spending-box">
            <p>Income:</p>
            <h3>$6,696</h3>
        </div>
        <div class="spending-box">
            <p>Spent:</p>
            <h3>$2,300</h3>
        </div>
        <div class="spending-box">
            <p>Remaining:</p>
            <h3>$2,300</h3>
        </div>
    </div>
</div>
<div class="progress-bar">
    <div class="top-stats-savings"></div>
    <div class="top-stats-spending"></div>
</div>
<div class="add-transaction">
    <p>Add a transaction <img src="img/r-arrow.svg"></p>
</div>
<div id="collections">
    <div class="collection-card">
        <h3 class="collection-card-savings">Savings</h3>
        <div class="collection-categories">
            <ul>
                <li>
                    <div>
                        <p>Emergency Fund</p>
                    </div>
                    <div>
                        <p>$0 / $600</p>
                    </div>
                </li>
                <li>
                    <p>Car Replacement</p>
                    <p>$35 / $500</p>
                </li>
                <li>
                    <p>Travel</p>
                    <p>$450 / $450</p>
                </li>
                <li>
                    <p>Investments</p>
                    <p>$1,000 / $1,000</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="collection-card">
        <h3 class="collection-card-spending">Savings</h3>
        <div class="collection-categories">
            <ul>
                <li>
                    <div>
                        <p>Emergency Fund</p>
                    </div>
                    <div>
                        <p>$0 / $600</p>
                    </div>
                </li>
                <li>
                    <p>Car Replacement</p>
                    <p>$35 / $500</p>
                </li>
                <li>
                    <p>Travel</p>
                    <p>$450 / $450</p>
                </li>
                <li>
                    <p>Investments</p>
                    <p>$1,000 / $1,000</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="collection-card">
        <h3 class="collection-card-spending">Savings</h3>
        <div class="collection-categories">
            <ul>
                <li>
                    <div>
                        <p>Emergency Fund</p>
                    </div>
                    <div>
                        <p>$0 / $600</p>
                    </div>
                </li>
                <li>
                    <p>Car Replacement</p>
                    <p>$35 / $500</p>
                </li>
                <li>
                    <p>Travel</p>
                    <p>$450 / $450</p>
                </li>
                <li>
                    <p>Investments</p>
                    <p>$1,000 / $1,000</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="collection-card">
        <h3 class="collection-card-debt">Savings</h3>
        <div class="collection-categories">
            <ul>
                <li>
                    <div>
                        <p>Emergency Fund</p>
                    </div>
                    <div>
                        <p>$0 / $600</p>
                    </div>
                </li>
                <li>
                    <p>Car Replacement</p>
                    <p>$35 / $500</p>
                </li>
                <li>
                    <p>Travel</p>
                    <p>$450 / $450</p>
                </li>
                <li>
                    <p>Investments</p>
                    <p>$1,000 / $1,000</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include('layouts/menu.ejs'); %>
<%- include('layouts/modal.ejs'); %>
<%- include('layouts/footer.ejs'); %>